* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
  }