.header {
    position: relative;
    width: 100%;
    @include header;
        &_text {
            @include logo;
        }
        &_back {
            position: absolute;
            left: 5%;
            top: 32px;
            font-size: 30px;
            &:hover {
                @include transform_scale;
            }
        }
}

.main_img {
    width: 100%;
    height: 400px;
    object-fit: cover;

    @media screen and (max-width: 767px) {
    width: 100%;   
    max-height: 250px;
    }
}

.menu {
    padding: 40px;
    width: 100%;
    background-color: #F6F6F6;
    margin-top: -5px;
    &_title {
        position: relative;
        display: flex;
        font-family: "shrikhand";
        justify-content: center;
        font-size: 20px;
        border: none;
        gap: 40px;
        &_like i{
            @include like;
            position: absolute;
            top: 22%;
        }
        &_like i:hover {
            @include likehover;
        }
    }
    &_submenus {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
        padding: 40px 0px 40px 0px;
    }

    &_submenu {
        min-width: 28%;
        width: 28%;
        &_title {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 200;
            line-height: 1.5;
            margin-bottom: 20px;
            &_border {
                border-top: 4px solid $color-tertiary;
                width: 40px;
            }
        }
        &_list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        }
        &_content {
            display: flex;
            background-color: white;
            @include shadow;
            border-radius: 15px;
            overflow: hidden;
            cursor: pointer;
            animation: appear 1s;
            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    animation-delay: 100ms * $i;
                }
            }
            &_check {
                background-color: $color-tertiary;
                width: 22%;
                border-radius: 0px 15px 15px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 25px;
                margin-right: -150px;
                transition: margin-right 0.8s;
            }
            &:hover &_check{
                margin-right: 0;
                transition-duration: 0.5s;
                transition-timing-function: ease;
            }
            &:hover i {
                transform: rotate(720deg);
                transition-duration: 0.6s;
            }
            &_description {
                width: 100%;
                display: flex;
                overflow: hidden;
                &_text {
                    width: 100%;
                    margin: 15px;
                    line-height: 20px;
                    overflow: hidden;
                    white-space: nowrap;
                    & h4 {
                        font-weight: 500;
                        font-size: 16px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    & p {
                        font-weight: 200;
                        font-size: 15px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }   
                }
                &_price {
                    display: flex;
                    align-items: flex-end;
                    margin: 15px;
                }
            }
        }
    }

    &_command {
        text-align: center;
        &_button {
        @include button;
        width: 200px;
        }
    }   

    @media screen and (max-width:1059px) {
    &_submenu {
        width: 45%;
        &.dessert {
        margin: auto;
        width: 60%;
        }
    }
    }

    @media screen and (max-width: 599px) {
    position: relative;
    border-radius: 45px 45px 0px 0px;
    margin-top: -70px;
    padding: 15px;
    &_title {
        justify-content: space-between;
        padding-right: 20px;
        gap: 0px;
        padding-top: 20px;
        &_like i {
            top: 45%;
            right: 2px;
        }
        }
    &_submenus {
        flex-direction: column;
    }
    &_submenu {
        width: 100%;
        &.dessert {
            width: 100%;
        }
    }
    }
    }

.footer {
    @include footer;
}