* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
  }

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

@mixin shadow {
    box-shadow: 0 0 10px #b6b5b5;
}

@mixin button {
    border: 0;
    font-weight: 500;
    font-size: 16px;
    border-radius: 100px;
    padding: 15px 28px 15px 28px;
    color: white;
    background-color: #b6b5b5;
    background-image: linear-gradient($color-secondary, $color-primary);
    cursor: pointer;
    transition-duration: 0.25s;
    @include shadow;
  
    &:hover {
      box-shadow: 0rem 0rem 10px #494949;
    }
  }

.header {
    padding: 25px 0px 10px 0px;
    position: relative;
    @include shadow;
        &_text {
            font-family: "shrikhand";
            text-align: center;
            font-size: 35px;
        }
}

.localisation {
    color: #353535;
    padding: 20px;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
        &_icon {
            font-size: 20px;
        }
        &_text {
            font-weight: 500;
            font-size: 18px;
        }
}

.topsection {
    background-color: #F6F6F6;
    padding: 20px;
    text-align: center;
        &_title {
            font-size: 25px;
            margin-bottom: 15px;
        }
        &_subtitle {
            color: #282828;
            font-size: 18px;
            font-weight: 200;
            margin-bottom: 30px;
        }
        &_button {
            border: solid;
            margin-bottom: 25px;
            @include button;
        }
}

.functioning {
    padding: 50px;
        &_text {
            font-size: 25px;
            margin-bottom: 30px;

        }

}